{% load static %}
<!DOCTYPE html>
<html lang="ru">
	<head>
		<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
		<link rel="icon" href="https://cdn.discordapp.com/avatars/645530866663161856/80e66dbaf555025529f3772e44632557.webp?size=512">
		<meta charset="utf-8"/>
		<title>NoneType4Name.</title>
	</head>
	<body>
    	<!-- <noscript>You browser doesn't support JS.</noscript> -->

    	<div id="main">
            <div id="intro">
				<h1>Hello, i'm NoneType4Name.</h1>
				<h2>Self-taught software engineer;</h2>
				<h2>Yong programmer/developer;</h2>
				<h2>2.5 years of experience in IT field;</h2>
			</div>
            
            <div id="self">
                <h3>My projects</h3>
                <div>
                    {{d}}
                </div>
            </div>
            <div id="stats">
                <h2>Some statistic</h2>
            </div>
        </div>
	</body>
</html>
