:root{
    --background-color:#000000
}
* {
    margin: 0;
    font-family: 'Cascadia Code';
    color: #fff;
    cursor:default;
    ::selection {
        background-color: #513397; 
     }
}

body{
    background-color: var(--background-color);
    overflow: overlay;
}

/* scrollbar */
::-webkit-scrollbar {
    width: 1vw;
  }
  
::-webkit-scrollbar-track {
    background: #ffffff00;
  }
  
::-webkit-scrollbar-thumb {
    background: linear-gradient(0deg, var(--background-color), #513397, #513397);
    border-radius: 20px;
    /* border: 3px solid #ff0303; */
}

@-webkit-keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

@keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

div#intro{
    width: 100%;
    height: 100vh;
    background-color: #513397;
    ::selection {
        background-color: var(--background-color); 
        text-shadow: 0px 0px 15px #ff0000;
     }
}

#intro * {
    white-space:pre-wrap;
    position: relative;
    -webkit-animation-name: fadeIn;
animation-name: fadeIn;
}


#intro h1{
    color: rgba(255, 255, 255);
    top: 15%; 
    left: 15%; 
    font-size: 45px;
    width: 85%;
}

#intro h2{
    color: rgba(255, 255, 255);
    top: 20%;
    left: 40%;
    font-size: 25px;
    width: 60%;
    margin-bottom: 20px;
}

@media screen and (max-width: 760px) and (max-height: 900px) {    
    #intro h1{
        top: 50%; 
        left: 50%;
        width:auto;
        transform: translate(-50%, -50%);
        text-align: center;
    }
    
    #intro h2{
        /* top: 0.5vh; */
        /* left: 8%; */
        /* width: 92%; */
        font-size: 0px;
        /* transform: translateY(-50%); */
    }
}

div#skils{
    margin-top: 50px;
    display: flex;
    justify-content: center;
    /* background: linear-gradient(to bottom, #513397, 0%, var(--background-color) 100%); */
}


#skils h2{
    margin-bottom: 15px;
}

#skils table{
    width: 30%;
    border-collapse: collapse;
    border: 2px solid var(--background-color);
}

#skils th{
    width: 50%;
    border-bottom: #fff solid 1px;
    font-size: 28px;
}

#skils th:hover{
    background-color: #7246d8;
    border-radius: 10px 10px 0 0;
    ::selection{
        background-color: var(--background-color); 
    }
}

#skils td{
    border-bottom: #1eff00 solid 1px;
    border-right: #ffffff solid 1px;
}

#skils td div div{
    text-indent: 5%;
    font-size: 23px;
    padding-top: 10px;
    padding-bottom: 5px;
}

#skils td:hover{
    background-color: #3f1a96;
    box-shadow: 0px 0px 20px #7246d8;
    ::selection{
        background-color: var(--background-color); 
    }
}

div#self{
    margin-top: 50px;
}

#self div{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

#self h2 {
    text-align: center;
    margin-bottom: 1rem;
}

#self div div{
    word-wrap: break-all;
    background-color: #222222;
    justify-content: normal;
    display: flex;
    flex-direction: column;
    -webkit-box-pack: justify;
    justify-content: space-between;
    align-items: baseline;
    width: 500px;
    height: 110px;
    margin: 10px;
    padding: 10px;
    box-shadow: 0px 0px 10px #fff;
    border: #ffffff00 solid 1px;
    border-radius: 10px;
}

#self div * {
    cursor: pointer;
}

#self div div:hover{
    border: #fff solid 1px;
    box-shadow: 0px 0px 30px #fff;
}

#self div div p.name{
    display: inline-block;
    font-size: 20px;
}

#self div div div{
    background-color: #ffffff00;
    padding: 0px;
    width: auto;
    height: auto;
    flex-direction: row;
    box-shadow: none;
    border: none;
    border-radius: 0px;
    margin: 0px;
}

#self div div div:hover{
    border: none;
    box-shadow: none;
    background-color: #ffffff00;
}

#self div div div div{
    margin-right: 33px;
}

#self div div div div:hover{
    text-shadow: 0px 0px 10px #ae00ff;
}

#self div div div p{
    display: flex;
    vertical-align: middle;
    font-size: 18px;
    margin-left: 3px;
}

svg#star {
    fill: rgb(255, 208, 0);
}

svg#fork{
    fill: rgb(128, 128, 128);
}

div#activity{
    margin-top: 50px;
}

#activity div{
    display: inline-block;
}

#activity span{
    margin: 0px;
    font-size: 30px;;
}

#activity{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;   
    align-content: center;
}


#project-box div{
    /* display: flex; */
    display: flex;
    /* flex-direction: row */
}

#project{
    display: flex;
    flex-wrap: wrap;
    word-wrap: break-all;
    background-color: #222222;
    justify-content: normal;
    flex-direction: column;
    -webkit-box-pack: justify;
    justify-content: space-between;
    width: 500px;
    height: 110px;
    margin: 10px;
    padding: 10px;
    box-shadow: 0px 0px 10px #fff;
    border: #ffffff00 solid 1px;
    border-radius: 10px;
    align-items: flex-start;
    align-content: flex-start;
}

#project:hover{
    border: #fff solid 1px;
    box-shadow: 0px 0px 30px #fff;
}

#project div {
    background-color: #ffffff00;
    padding: 0px;
    box-shadow: none;
    border: none;
    border-radius: 0px;
    margin: 0px;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
}

#project div:hover{
    border: none;
    box-shadow: none;
    background-color: #ffffff00;
}

#project div *{
    margin-left: 3px;
    vertical-align: middle;

}

#project div p{
    font-size: 18px;
}

#project .disable{
    position: relative;
    padding: 5px;
    border-radius: 5px;
    color: #fff;
    background-color: grey;
    border: none;
    cursor: not-allowed;
}
#project button::after {
    opacity: 0;
    width: max-content;
    color: #fff;
    background-color: rgba(77, 75, 75, 0.524);
    border-radius: 5px;
    padding: 5px;
    font-size: 12px;
    font-weight: 400;
    line-height: 1em;
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translate(-50%, -100%);
    pointer-events: none;
    transition: opacity 0.2s;
}

#project button.disable::after{
    content: "Приватный репозиторий.";
}

#project button.enable::after{
    content: attr(ws);
}

#project button:active{
    border: none;
}
#project button:hover::after {
    opacity: 1;
}

#project .enable{
    position: relative;
    padding: 5px;
    border-radius: 5px;
    border: none;
    color: #fff;
    background-color: rgb(37, 169, 63);
    cursor: pointer;
}

#project img{
    height: 100%;
    border-radius: 10px;
}

#action{
    color:rgb(255, 0, 0)
}

#vscode{
    color: #25aef3;
}

#file{
    color:#ffae00;
}

/* div.pop-up{
    position: relative;
    transition: all .5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.pop-up > span{
    color: inherit;
    opacity: 1;
    transition: opacity 0s .5s;
}
.pop-up:hover > span{
    opacity: 0;
    transition: opacity 0s;
}


.pop-up > img{
    position: absolute;
    width: 0;
    height: 0;
    top: -50px;
    left: 0px;
    opacity: 0;
    transition: opacity 0s ;
}
.pop-up:hover > img{
    opacity: 1;
    width: 50px;
    height: 50px;
    transition: opacity 1s .1s ease;
    box-shadow: 0px 0px 20px #ffffff;
    border-radius: 10px;
}

.pop-up span#hiden{
    opacity: 0;
    position: absolute;
    left: 0;
    top:0;
    color: inherit;
    transition: all .5s cubic-bezier(0.25, 0.46, 0.45, 0.94), opacity 0s .5s;
    white-space:pre-wrap;

}

.pop-up:hover > span#hiden{
    opacity: 1;
    left: 50px;
    top: -100%;
    transition: all .5s cubic-bezier(0.25, 0.46, 0.45, 0.94), opacity 0s;
    box-shadow: 0px 0px 20px #ffffff;
    border-radius: 0 10px 10px 10px;
    background-color: #0f100f;

}

.pop-up:hover > img{
    opacity: 1;
} */

/* #vscode{
} */


/* #vscode:hover{

    background-image: var(--bg-image);
} */


#elaps{
    font-size: 24px;
    font-family: 'Cascadia Mono';
    letter-spacing: 5px;
    color: gray;
}

/* #stats {
    color: #fff;
}

#stats h2{
    font-size: 30px;
} */
/*
@media screen and (max-width: 480px) and (max-height: 900px){   
    #intro h1{
        top: 10%; 
        left: 10%;
        width: 90%;
        font-size: 15px;
    }
    
    #intro h2{
        top: 20%;
        left: 10%;
        width: 90%;
        font-size: 11px;
    }
} */


@keyframes typewriter{
    from{width: 0%;}
    to{width: 100%;}
}
  /* @keyframes blinkTextCursor{
    from{border-right-color: rgba(255,255,255,.75);}
    to{border-right-color: transparent;}
  } */

@keyframes blink{
    0%{opacity: 0;}
    100%{opacity: 1;}
}
